@import url('https://fonts.googleapis.com/css?family=Exo');

body, p, table, td, div {
	font-family: 'Exo', sans-serif;
}

.navbar-inverse {
	background: #36274c no-repeat;
	padding: 10px 0 10px 10px;
}

.sidetoc {
	top:170px;
}

.sidefilter {
    top: 110px;
}


.inheritance, .implements {
    display: none;
}

.level0.summary {
    padding: 0.5rem 0 1.5rem 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    color: #36274c;
}

h3, .h3 {
    font-size:22px;
}