@import url('https://fonts.googleapis.com/css?family=Exo');

body, p, table, td, div {
	font-family: 'Exo', sans-serif;
}

.navbar-inverse {
	background: #36274c no-repeat;
	padding: 10px 0 10px 10px;
}

.sidetoc {
	top:170px;
}

.sidefilter {
    top: 110px;
}
